$main-grey: #323232;

@font-face {
  font-family: 'Blackberry-Jam';
  src: url('./assets/fonts/blackberry-jam.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px;
  background-color: black;
  font-family: Blackberry-Jam, Helvetica, sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  left: 0px;
  right: 0px;
  position: relative;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0px;
  bottom: 0px;
  position: relative;
}

.svg-icon {
  pointer-events: none;
}

header {
  height: 175px;
  margin-bottom: 40px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $main-grey;

  .name {
    color: white;
    text-align: center;
    font-size: 48px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
  }

  .title {
    color: white;
    text-align: center;
    font-size: 42px;
    font-weight: normal;
  }

  .lambtwist {
    color: white;
    float: left;
    margin: 10px;
    cursor: pointer;

    &.reverse {
      transform: scaleX(-1);
      cursor: auto;
    }

    svg {
      width: 250px;
      height: auto;
    }
  }

  @media (max-width: 1024px) {
    .lambtwist.reverse {
      margin: 0px;

      svg {
        display: none;
      }
    }
  }

  @media (max-width: 720px) {
    .name {
      font-size: 36px
    }

    .title {
      font-size: 24px
    }

    .lambtwist svg {
      width: 150px;
    }
  }
}

nav {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .btn {
    // height: 80px;
    // width: 80px;
    background-color: $main-grey;
    color: white;
    // border-radius: 40px;
    border: 5px solid white;
    cursor: pointer;
    transition: 0.2s ease-out;

    &:hover {
      background-color: white;
      color: black;
      border-color: $main-grey;
    }

    &.selected {
      color: yellow;
      background-color: $main-grey;
      border-color: white;
    }
  }
}


main {
  margin: 0px 8px 90px 8px;

  .image-gallery {
    width: 100%;
    margin: 0 auto;
    transition: all 1s ease;

    @media (min-width: 1024px) {
      width: 65%;
    }
  }

  .home-nav-btn {
    color: red;
    height: 175px;
    width: 80%;
    margin: 50px auto;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 1024px) {
      height: 250px;
    }

    &--rings {
      background-image: url('http://photos.vanvleck.com/1440x960/rings/r1.jpg');
    }

    &--bracelets {
      background-image: url('http://photos.vanvleck.com/1440x960/bracelets/b1.jpg');
    }

    &--necklaces {
      background-image: url('http://photos.vanvleck.com/1440x960/necklaces/n1.jpg');
    }

    &--earrings {
      background-image: url('http://photos.vanvleck.com/1440x960/earrings/e1.jpg');
    }

    .btn-text {
      color: white;
      font-size: 60px;
      font-weight: 700;
      text-shadow: 2px 2px 5px black, -1px -1px 1px black;
    }
  }
}


footer {
  color: black;
  background-color: $main-grey;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  font-family: Helvetica, sans-serif;

  div {
    position: absolute;
    right: 3px;
    bottom: 2px;
  }
}
